@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

body * {
  @apply text-white;
}

h1 {
  @apply text-5xl;
  @apply font-bold;
  @apply text-blue-400
}

input[type="radio"] {
  appearance: none;
  padding: 10px;
  border: 1px solid white;
}

input[type="radio"]:checked {
  @apply bg-blue-600;
}
